@import '../../common.scss';

.signin {
  &_page {
    background: $bg-color;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_card {
    width: 400px;
    height: 300px;
  }

  &_title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  &_space {
    width: 100%;
  }

  &_btn {
    width: 100%;
  }

  &_link-btn {
    padding :0;
  }
}